spring:
  application:
    name: exam-solver-preprocessor

server:
  port: 8082

preprocessor:
  exercise-delimiters:
    es: "=== EJERCICIO ==="
    en: "=== EXERCISE ==="
    de: "=== AUFGABE ==="
    fr: "=== EXERCICE ==="


external:
  nougat:
    base-url: http://localhost:8503

resilience4j:
  retry:
    instances:
      nougatServiceRetry:
        max-attempts: 3
        wait-duration: 2s
        retry-exceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - org.springframework.web.reactive.function.client.WebClientResponseException

ocr:
  tessdata-path: /usr/share/tesseract-ocr/5/tessdata

logging:
  level:
    com.examsolver: DEBUG
